<header class="masthead"> <!-- DONE-->
  <div class="d-flex justify-content-center">
    <h1 class="text-uppercase text-white">Arqitrade</h1>
  </div>
</header>
<!-- About-->
<section class="about-section">
  <div class="container justify-content: space evenly">
    <div class="row">
      <div class="col-lg-6">
        <div class="h-50">
          <div class="d-flex h-50">
            <div class="w-50 my-auto">
              <h2 class="text-white">Om oss</h2>
              <p class="text-white-50">
                ARQITRADE AB is a family owned business striving to help international firms  finding their marketplace and increasing their marketshare in North of Europe.
                By offering strong business acumen, native languages and business culture we are able to see your competative edge and assist in market entrance.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6"><%= image_tag "Ullis.jpg" %></div>
    </div>
  </div>
</section>
<!-- Produkter-->
<section class="produkter-section bg-dark">
  <div class="container justify-content: space evenly">
    <!-- Trivselhus-->
    <div class="row">
      <div class="col-lg-6"><%= image_tag "Trivselhus1.jpg" %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100">
          <div class="d-flex h-100">
            <div class="w-100 my-auto text-center">
              <h4 class="text-white">Trivselhus</h4>
              <p class=" container text-white-50">
                Trivselhus är en av de största hustillverkarna i Sverige och hör hemma i Landsbro på det småländska höglandet. Runtomkring oss har vi höglänta och kuperade skogstrakter med småsjöar och mossar. 
                Det är ifrån det här vackra, men ibland karga landskapet vi hämtar vår syn på vad som är äkta, hållbar och gedigen kvalitet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6"><%= image_tag "Trivselhus2.jpg" %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100">
          <div class="d-flex h-100">
            <div class="w-100 my-auto text-center">
              <h4 class="text-white">Hus I Trä</h4>
              <p class="text-white-50">
                Trivselhus bygger hus i trä, ett härligt material att arbeta och leva med. En förnybar råvara som lagrar koldioxid under hela sin livslängd. 
                Genom att använda trä i ett hus kan användningen av andra byggmaterial som inte kommer från förnybar råvara minskas. Trä gör det enkelt att producera väggblock i fabrik, vilket sparar tid och pengar för er som kund. Mängden träspill vid produktionen av våra hus minimeras dessutom genom noggrann projektering och optimering.
                Ett hus i trä är enkelt att bygga om och bygga till, vilket ger huset en lång livslängd. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
