<header class="masthead"> <!-- DONE-->
  <div class="d-flex justify-content-center">
      <h1 class="text-uppercase text-white">Våra Produkter</h1>
  </div>
</header>
<!-- About-->
<section class="about-section">
  </section>
<!-- Produkter-->
<section class="produkter-section bg-dark">
  <div class="container justify-content: space evenly">
    <!-- Trivselhus-->
    <div class="row">
      <div class="col-lg-6"><%= image_tag "Trivselhus1.jpg" %></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100">
          <div class="d-flex h-100">
            <div class="w-100 my-auto text-center">
              <h4 class="text-white">Trivselhus</h4>
              <p class="text-white-50">
                Trivselhus är en av de största hustillverkarna i Sverige och hör hemma i Landsbro på det småländska höglandet. Runtomkring oss har vi höglänta och kuperade skogstrakter med småsjöar och mossar. 
                Det är ifrån det här vackra, men ibland karga landskapet vi hämtar vår syn på vad som är äkta, hållbar och gedigen kvalitet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>