<header class="masthead"> <!-- DONE-->
  <div class="d-flex justify-content-center">
    <h1 class="text-uppercase text-white">Våra Samarbetspartners
    </h1>
  </div>
</header>
<section class="about-section">
</section>
<section class="produkter-section bg-dark">
  <div class="container justify-content: space evenly">
    <!-- Trivselhus-->
    <div class="row">
      <div class="col-lg-4"><%= image_tag "Trivselhuslogo.jpg" %></div>
      <div class="col-lg-4">
        <div class="bg-dark text-center h-100">
          <div class="d-flex h-100">
            <div class="w-100 my-auto text-center">
              <h4 class="text-white">Trivselhus</h4>
              <p class="text-white-50">
                <a href='www.trivselhus.se'>www.trivselhus.se </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"><%= image_tag "Trivselhus4.jpg" %></div>
    </div>
    <div class="row">
      <div class="col-lg-4"><%= image_tag "Strategispecialisten.jpg" %></div>
      <div class="col-lg-4">
        <div class="bg-dark text-center h-100">
          <div class="d-flex h-100">
            <div class="w-100 my-auto text-center">
              <h4 class="text-white">Strategispecialisten</h4>
              <p class="text-white-50">
                <a href='www.strategispecialisten.se'>www.strategispecialisten.se </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4"><%= image_tag "karin.jpg" %></div>
    </div>
