<h1>Redigera kontaktuppgifter</h1>

<%= render "form", kontakt: @kontakt %>

<br>

<div>
  <%= link_to "Visa kontaktuppgifterna", @kontakt %> |
  <%= link_to "Tillbaka till kontaktlistan", kontakts_path %>
</div>
