<header class="masthead3"> <!-- DONE-->
  <div class="d-flex justify-content-center">
    <h1 class="text-uppercase text-white">Vårt Team</h1>
  </div>
</header>
<h1>Arbetare Kontaktlista</h1>
<div id="kontakts">
  <table class='table table-dark table-hover'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Förnamn</th>
        <th scope="col">Efternamn</th>
        <th scope="col">Title</th>
        <th scope="col">Mobilnummer</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <% @kontakts.each do |kontakt| %>
      <%= render kontakt %>
    <% end %>
  </table>
</div>
<%= link_to "Lägg till kontakt", new_kontakt_path, class:"btn btn secondary btn-dark" %>
