<div class="container">
  <h1>Lägg till ny kund kontakt</h1>
  <%= render "form", kontakt: @kontakt %>
  <br>
<div>
  <%= link_to "Tillbaka till kontaktlistan", kontakts_path, class:"btn btn secondary btn-dark" %>
</div>
</div>

