<div class="alert alert-warning alert-dismissible">
<!-- Skapat denna för att ha alerts/notices för hemsidan i olika ställe så som tabelen och log in funktionen -->
<%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>